/* =============
    Section 5
============= */
#section-5 {

    >div {

        h1 {
            text-align: center;
        }

        ul {
            display: grid;
            grid-gap: 20px;
            grid-area: content;
            padding-bottom: 30px;

            @include md {
                grid-template-areas: "g1 g1 g1"
                    "g1 g1 g1"
                    "g1 g1 g1"
                    "g2 g3 g4"
                    "g5 g6 g7";
                grid-template-rows: 33% 33% 33%s;

            }

            @include lg {
                padding-left: 230px;
                padding-right: 230px;
            }

            li {
                background-position: center;
                background-size: cover;
                height: 320px;


            }

            #gallery1 {
                background-image: url('../img/section-5/li1.png');


                @include md {
                    grid-area: g1;
                    height: 402px;

                }

            }

            #gallery2 {
                background-image: url('../img/section-5/li2.png');

                @include md {
                    grid-area: g2;
                    height: 128px;
                }

            }

            #gallery3 {
                background-image: url('../img/section-5/li3.png');

                @include md {
                    grid-area: g3;
                    height: 128px;
                }
            }

            #gallery4 {
                background-image: url('../img/section-5/li4.png');

                @include md {
                    grid-area: g4;
                    height: 128px;
                }
            }

            #gallery5 {
                background-image: url('../img/section-5/li5.png');

                @include md {
                    grid-area: g5;
                    height: 128px;
                }

            }

            #gallery6 {
                background-image: url('../img/section-5/li6.png');

                @include md {
                    grid-area: g6;
                    height: 128px;
                }

            }

            #gallery7 {
                background-image: url('../img/section-5/li7.png');

                @include md {
                    grid-area: g7;
                    height: 128px;
                }

            }

        }
    }

}